
::-webkit-scrollbar {
  display: none;
}

.content {
  max-width: 1000px;
  margin: auto;
  padding: 0 1em 0 1em;
  height: 90vh;
  overflow: auto;
  padding-top: 1em;
}

.header {
  height: 10vh;
  background-color: #375c5c;
  color: white;
  width: 100%;
}

.header-text {
  text-decoration: none;
  color: white;
}

.header-content {
  max-width: 1000px;
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1em 0 1em;
  justify-content: space-between;
}
